<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/openpathinc/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="j@openpath.io" />
      <add key="ClearTextPassword" value="6a0fa22a48d82be0242d161086165f92b60bb67e" />
    </github>
  </packageSourceCredentials>
</configuration>