<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/openpathinc/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="usa_hennes@yahoo.com" />
      <add key="ClearTextPassword" value="3ebb6c25ce72efc78f462748495bd1208e8355ae" />
    </github>
  </packageSourceCredentials>
</configuration>